<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row d-flex justify-content-center">
        <form action="#" method="post" novalidate="novalidate" style="min-width: 300px;" th:action="@{/admin/orders}"
              th:object="${orderModel}">
            <h5 class="text-center">Customer form</h5>

            <input th:field="*{id}" type="hidden"/>

            <div class="form-group">
                <label>Customer</label>
                <select  name="customerModel">
                    <option th:each="customer,iterStat : ${customers}" th:value="${customer.id}" th:text="${customer.customerName}"></option>
                </select>
            </div>

            <div class="form-group">
                <label>Employee</label>
                <select  name="employeeModel">
                    <option th:each="employee,iterStat : ${employees}" th:value="${employee.id}" th:text="${employee.lastName}"></option>
                </select>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="OrderDate" th:field="*{orderDate}"
                       type="text"/>
            </div>

            <div class="form-group">
                <label>Shipper</label>
                <select  name="shipperModel">
                    <option th:each="shipper,iterStat : ${shippers}" th:value="${shipper.id}" th:text="${shipper.shipperName}"></option>
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>