<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header"></head>

<body>
  <nav th:replace="layout::header"></nav>

  <div class="container" id="main-content">
    <div class="row d-flex justify-content-center">
      <form action="#" method="post" novalidate="novalidate" style="min-width: 3000px;" th:action="@{/customers/save}" th:object="${customer}">
        <h5 class="tex-center">Customer form</h5>

        <input th:field="*{id}" type="hidden">
AAA
        <div class="form-group">
          <input class="form-control" placeholder="Customer name" th:errorclass="field-error" th:field="*{customerName}" type="text">
          <em th:error="customerName" th:if="${#fields.hasErrors('customerName')}"></em>
        </div>

        <div class="form-group">
          <input class="form-control" placeholder="Address" th:field="*{address}" type="text">
        </div>

        <div class="form-group">
          <input class="form-control" placeholder="City" th:field="*{city}" type="text">
        </div>

        <div>
          <input class="form-control" placeholder="Post Code" th:field="*{postalCode}" type="text">
        </div>
        
        <div>
          <input class="form-control" placeholder="Country" th:field="*{country}" type="text">
        </div>

        <div>
          <button class="btn btn-block btn-primary" type="submit">
            <i class="fa fa-save"></i>Save
          </button>
        </div>
      </form>
    </div>
  </div>
  <footer th:replace="layout::footer"></footer>
</body>
</html>
