<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row d-flex justify-content-center">
        <form action="#" method="post" novalidate="novalidate" style="min-width: 300px;"
              th:action="@{/admin/orderDetails}"
              th:object="${orderDetailModel}">
            <h5 class="text-center">OrderDetail form</h5>

            <input th:field="*{id}" type="hidden"/>

            <div class="form-group">
                <label>Customer</label>
                <select  name="orderModel">
                    <option th:each="order,iterStat : ${orders}" th:value="${order.id}" th:text="${order.customerModel.customerName}"></option>
                </select>
            </div>

            <div class="form-group">
                <label>Product</label>
                <select  name="productModel">
                    <option th:each="product,iterStat : ${products}" th:value="${product.id}" th:text="${product.productName}"></option>
                </select>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Quantity" th:field="*{quantity}"
                       type="text"/>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>